<h4>Log in</h4>
<br>
<form class="" action="<%= sessions_url %>" method="post">
  <label>Email</label>
  <input type="text" name="user[email]" value="">
  <br>
  <label>Password</label>
  <input type="password" name="user[password]" value="">
  <br>
  <input type="submit">
</form>
