<h4>Create a new album!</h4>
<br>
<form action="<%= albums_url %>" method="post">
  <label>Name</label>
  <input type="text" name="album[name]" value="">
  <br><br>
  <input type="submit" value="Create!">
</form>
